.Title {
    margin-top: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

.logo {
    height: 30px;
    width: 34px;
    margin-right: 10px;
}

@media (min-width: 600px) {
    .film-view {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }
}

h1 {
    padding-left: 1.1em;
    float: left;
    display: inline;
}

.film-add__button {
    float: right;
    margin-right: 7em;
    margin-top: 0.1em;
    padding: 0.6rem 1.4rem;
    border-radius: 10px;
    border-width: 4px;
}

.film-view__top {
    display: inline-block;
    width: 100%;
}

.film-view {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    
}

.film-item {
    height: 350px;
    margin: 10px;
    
}

.film-img {
    height: 300px;
    width : 200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filmContainer {
    display: flex;
    height: 300px;
    margin-bottom: 10px;
    padding: 2em;
    margin-bottom:  2em;
}

/* AppFilm.js */

.detail-poster {
    padding-left: 1.2em;
    height: 600px;
    width : 450px;
    float: left;
    margin-right: 4em;
}

.active-film__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.6em;
    font-size: 3rem;
}

.active-film__info {
    margin: 1em;
}

.active-film__details{
    font-weight: 700;
    margin-bottom: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    columns: 2;
}

.active-film__details span{
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 1em;
    letter-spacing: 1px;
    color: rgb(61, 61, 61);
    margin-left: 0.3em;
}

.active-film__details_plot{
    font-weight: 700;
    margin-bottom: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.active-film__details_plot span{
    font-weight: 300;
    font-style: italic;
    margin-bottom: 1em;
    letter-spacing: 1px;
    padding-right: 10em;
    color: rgb(61, 61, 61);
    text-transform: capitalize;
}

/* AppFilmAdd.js */

.form__input {
    display: block;
    justify-content: center;
    width: 200%;
}
.form__label {
    display: block;
    
}

.form__wrapper {
    display: block;
    text-align: center;
    
}

form{
    display: inline-block;
    margin-left: auto;
    margin-right: 30%;
    text-align: left;
    text-size-adjust: 400%;
}

.submit__button{
    display: inline-block;
    border-radius: 3px;
    margin-top: 24px;
}

.film-add__banner{
    display: inline-block;
    width: 100%;
}