.Title {
    margin-top: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

@media (min-width: 600px) {
    .film-view {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }
}

h1 {
    padding-left: 1.1em;
}

.film-view {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.film-item {
    height: 350px;
    margin: 10px;
    
}

.film-img {
    height: 300px;
    width : 200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filmContainer {
    display: flex;
    height: 300px;
    margin-bottom: 10px;
    padding: 2em;
    margin-bottom:  2em;
}

/* AppFilm.js */

.detail-poster {
    padding-left: 1.2em;
    height: 600px;
    width : 450px;
    float: left;
    display: inline-flexbox;
    margin-right: 4em;
}

.active-film__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.6em;
    font-size: 3rem;
}

.active-film__info {
    margin: 1em;
    display: inline-flexbox;
    float: left;
    width: 65%;
}

.active-film__details{
    font-weight: 700;
    margin-bottom: 1em;
    letter-spacing: 1px;
    padding-right: 10em;
}

.active-film__details span{
    font-weight: 400;
    margin-bottom: 1em;
    letter-spacing: 1px;
    color: rgb(61, 61, 61);
}

.active-film__details_plot{
    font-weight: 700;
    margin-bottom: 1em;
    letter-spacing: 1px;
    padding-right: 10em;
}

.active-film__details_plot span{
    font-weight: 300;
    font-style: italic;
    margin-bottom: 1em;
    letter-spacing: 1px;
    padding-right: 10em;
    color: rgb(61, 61, 61);

}